@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
.main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: #222;
}
.innermain {
    font: 12px/1 Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
a {
    text-decoration: none;
}
img {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
}
